.classpath
.project
bin/AndroidManifest.xml
bin/classes.dex
bin/classes/net/schwiz/wolfram/full/BuildConfig.class
bin/classes/net/schwiz/wolfram/full/ImePreferences.class
bin/classes/net/schwiz/wolfram/full/MathKeyboard$LatinKey.class
bin/classes/net/schwiz/wolfram/full/MathKeyboard.class
bin/classes/net/schwiz/wolfram/full/MathKeyboardView.class
bin/classes/net/schwiz/wolfram/full/R$attr.class
bin/classes/net/schwiz/wolfram/full/R$color.class
bin/classes/net/schwiz/wolfram/full/R$dimen.class
bin/classes/net/schwiz/wolfram/full/R$drawable.class
bin/classes/net/schwiz/wolfram/full/R$id.class
bin/classes/net/schwiz/wolfram/full/R$layout.class
bin/classes/net/schwiz/wolfram/full/R$string.class
bin/classes/net/schwiz/wolfram/full/R$xml.class
bin/classes/net/schwiz/wolfram/full/R.class
bin/classes/net/schwiz/wolfram/full/SoftKeyboard.class
bin/jarlist.cache
bin/net.schwiz.wolfram.full.WAlauncher.apk
bin/res/drawable-hdpi/ic_launcher.png
bin/res/drawable-ldpi/ic_launcher.png
bin/res/drawable-mdpi/ic_launcher.png
bin/res/drawable-xhdpi/ic_launcher.png
bin/res/drawable/ddx.png
bin/res/drawable/e.png
bin/res/drawable/equal.png
bin/res/drawable/equalsign.png
bin/res/drawable/mic.png
bin/res/drawable/pi.png
bin/res/drawable/sym_keyboard_delete.png
bin/res/drawable/sym_keyboard_done.png
bin/res/drawable/sym_keyboard_return.png
bin/res/drawable/sym_keyboard_search.png
bin/res/drawable/sym_keyboard_shift.png
bin/res/drawable/sym_keyboard_space.png
bin/res/drawable/zeta.png
bin/resources.ap_
gen/net/schwiz/wolfram/full/BuildConfig.java
gen/net/schwiz/wolfram/full/R.java
res/xml/ime_preferences.xml
